In [4]:
import pandas as pd
import numpy as np

In [5]:
## need to pad with 0s where toronto city has nans for snow on ground - or do we even need that? We can also consider using
## toronto city centre - I think we can remove the flags too

In [6]:
df = pd.read_csv('cleaned_data\daily\\merged_toronto_hanlans.csv', index_col=0)

In [7]:
df.describe()

,eColi,statusFlag,Year,Month,Day,Max Temp (°C),Min Temp (°C),Mean Temp (°C),Heat Deg Days (°C),Cool Deg Days (°C),Total Precip (mm)
count,1522.000000,1522.000000,1522.000000,1522.000000,1522.000000,1506.000000,1507.000000,1504.000000,1504.000000,1504.000000,1488.000000
mean,29.224047,0.045335,2015.603154,7.122208,15.603154,26.115339,17.205242,21.671210,0.207713,3.878923,2.391801
std,43.640985,0.208106,5.139238,0.878283,8.963814,3.634208,3.038905,3.117271,0.755970,2.744707,7.009901
min,8.000000,0.000000,2007.000000,5.000000,1.000000,13.500000,5.500000,9.500000,0.000000,0.000000,0.000000
25%,11.000000,0.000000,2011.000000,6.000000,8.000000,23.800000,15.100000,19.500000,0.000000,1.500000,0.000000
50%,16.000000,0.000000,2016.000000,7.000000,15.500000,26.300000,17.300000,21.800000,0.000000,3.800000,0.000000
75%,28.000000,0.000000,2020.000000,8.000000,23.000000,28.600000,19.400000,23.825000,0.000000,5.825000,0.800000
max,696.000000,1.000000,2024.000000,9.000000,31.000000,38.200000,25.200000,31.600000,8.500000,13.600000,96.800000

In [8]:
df.columns

Index(['CollectionDate', 'eColi', 'statusFlag', 'Date/Time', 'Year', 'Month',
       'Day', 'Max Temp (°C)', 'Max Temp Flag', 'Min Temp (°C)',
       'Min Temp Flag', 'Mean Temp (°C)', 'Mean Temp Flag',
       'Heat Deg Days (°C)', 'Heat Deg Days Flag', 'Cool Deg Days (°C)',
       'Cool Deg Days Flag', 'Total Precip (mm)'],
      dtype='object')

In [9]:
df.head()

,CollectionDate,eColi,statusFlag,Date/Time,Year,Month,Day,Max Temp (°C),Max Temp Flag,Min Temp (°C),Min Temp Flag,Mean Temp (°C),Mean Temp Flag,Heat Deg Days (°C),Heat Deg Days Flag,Cool Deg Days (°C),Cool Deg Days Flag,Total Precip (mm)
0,2007-06-03,10,0,2007-06-03,2007,6,3,25.1,NaN,17.1,NaN,21.1,NaN,0.0,NaN,3.1,NaN,9.1
1,2007-06-04,10,0,2007-06-04,2007,6,4,22.7,NaN,15.4,NaN,19.1,NaN,0.0,NaN,1.1,NaN,2.0
2,2007-06-05,70,0,2007-06-05,2007,6,5,19.3,NaN,7.4,NaN,13.4,NaN,4.6,NaN,0.0,NaN,1.8
3,2007-06-06,159,1,2007-06-06,2007,6,6,17.3,NaN,8.1,NaN,12.7,NaN,5.3,NaN,0.0,NaN,0.0
4,2007-06-07,23,1,2007-06-07,2007,6,7,20.3,NaN,11.4,NaN,15.9,NaN,2.1,NaN,0.0,NaN,0.0

In [10]:
# df['Snow on Grnd (cm)'] = df['Snow on Grnd (cm)'].fillna(0)

In [11]:
df.describe()

,eColi,statusFlag,Year,Month,Day,Max Temp (°C),Min Temp (°C),Mean Temp (°C),Heat Deg Days (°C),Cool Deg Days (°C),Total Precip (mm)
count,1522.000000,1522.000000,1522.000000,1522.000000,1522.000000,1506.000000,1507.000000,1504.000000,1504.000000,1504.000000,1488.000000
mean,29.224047,0.045335,2015.603154,7.122208,15.603154,26.115339,17.205242,21.671210,0.207713,3.878923,2.391801
std,43.640985,0.208106,5.139238,0.878283,8.963814,3.634208,3.038905,3.117271,0.755970,2.744707,7.009901
min,8.000000,0.000000,2007.000000,5.000000,1.000000,13.500000,5.500000,9.500000,0.000000,0.000000,0.000000
25%,11.000000,0.000000,2011.000000,6.000000,8.000000,23.800000,15.100000,19.500000,0.000000,1.500000,0.000000
50%,16.000000,0.000000,2016.000000,7.000000,15.500000,26.300000,17.300000,21.800000,0.000000,3.800000,0.000000
75%,28.000000,0.000000,2020.000000,8.000000,23.000000,28.600000,19.400000,23.825000,0.000000,5.825000,0.800000
max,696.000000,1.000000,2024.000000,9.000000,31.000000,38.200000,25.200000,31.600000,8.500000,13.600000,96.800000

In [13]:
df.drop(columns=['Max Temp Flag', 'Min Temp Flag', 'Mean Temp Flag', 'Heat Deg Days Flag', 'Cool Deg Days Flag'], inplace=True)

In [14]:
df.head()

,CollectionDate,eColi,statusFlag,Date/Time,Year,Month,Day,Max Temp (°C),Min Temp (°C),Mean Temp (°C),Heat Deg Days (°C),Cool Deg Days (°C),Total Precip (mm)
0,2007-06-03,10,0,2007-06-03,2007,6,3,25.1,17.1,21.1,0.0,3.1,9.1
1,2007-06-04,10,0,2007-06-04,2007,6,4,22.7,15.4,19.1,0.0,1.1,2.0
2,2007-06-05,70,0,2007-06-05,2007,6,5,19.3,7.4,13.4,4.6,0.0,1.8
3,2007-06-06,159,1,2007-06-06,2007,6,6,17.3,8.1,12.7,5.3,0.0,0.0
4,2007-06-07,23,1,2007-06-07,2007,6,7,20.3,11.4,15.9,2.1,0.0,0.0

In [15]:
df.describe()

,eColi,statusFlag,Year,Month,Day,Max Temp (°C),Min Temp (°C),Mean Temp (°C),Heat Deg Days (°C),Cool Deg Days (°C),Total Precip (mm)
count,1522.000000,1522.000000,1522.000000,1522.000000,1522.000000,1506.000000,1507.000000,1504.000000,1504.000000,1504.000000,1488.000000
mean,29.224047,0.045335,2015.603154,7.122208,15.603154,26.115339,17.205242,21.671210,0.207713,3.878923,2.391801
std,43.640985,0.208106,5.139238,0.878283,8.963814,3.634208,3.038905,3.117271,0.755970,2.744707,7.009901
min,8.000000,0.000000,2007.000000,5.000000,1.000000,13.500000,5.500000,9.500000,0.000000,0.000000,0.000000
25%,11.000000,0.000000,2011.000000,6.000000,8.000000,23.800000,15.100000,19.500000,0.000000,1.500000,0.000000
50%,16.000000,0.000000,2016.000000,7.000000,15.500000,26.300000,17.300000,21.800000,0.000000,3.800000,0.000000
75%,28.000000,0.000000,2020.000000,8.000000,23.000000,28.600000,19.400000,23.825000,0.000000,5.825000,0.800000
max,696.000000,1.000000,2024.000000,9.000000,31.000000,38.200000,25.200000,31.600000,8.500000,13.600000,96.800000

In [16]:
mask = (df['Total Precip (mm)'].isna())
df.drop(df.loc[mask].index, inplace=True)

In [17]:
df.describe()

,eColi,statusFlag,Year,Month,Day,Max Temp (°C),Min Temp (°C),Mean Temp (°C),Heat Deg Days (°C),Cool Deg Days (°C),Total Precip (mm)
count,1488.000000,1488.000000,1488.000000,1488.000000,1488.000000,1487.000000,1488.000000,1487.000000,1487.000000,1487.000000,1488.000000
mean,29.475806,0.046371,2015.604839,7.117608,15.592070,26.116073,17.198387,21.672360,0.209482,3.881843,2.391801
std,44.076210,0.210358,5.161393,0.880338,9.010544,3.636451,3.041090,3.121975,0.759762,2.746277,7.009901
min,8.000000,0.000000,2007.000000,5.000000,1.000000,13.500000,5.500000,9.500000,0.000000,0.000000,0.000000
25%,11.000000,0.000000,2011.000000,6.000000,8.000000,23.750000,15.100000,19.550000,0.000000,1.550000,0.000000
50%,16.000000,0.000000,2016.000000,7.000000,16.000000,26.300000,17.300000,21.800000,0.000000,3.800000,0.000000
75%,28.000000,0.000000,2020.000000,8.000000,23.000000,28.600000,19.400000,23.850000,0.000000,5.850000,0.800000
max,696.000000,1.000000,2024.000000,9.000000,31.000000,38.200000,25.200000,31.600000,8.500000,13.600000,96.800000

In [20]:
df = df.fillna(0)

In [21]:
df.describe()

,eColi,statusFlag,Year,Month,Day,Max Temp (°C),Min Temp (°C),Mean Temp (°C),Heat Deg Days (°C),Cool Deg Days (°C),Total Precip (mm)
count,1488.000000,1488.000000,1488.000000,1488.000000,1488.000000,1488.000000,1488.000000,1488.000000,1488.000000,1488.000000,1488.000000
mean,29.475806,0.046371,2015.604839,7.117608,15.592070,26.098522,17.198387,21.657796,0.209341,3.879234,2.391801
std,44.076210,0.210358,5.161393,0.880338,9.010544,3.697735,3.041090,3.171092,0.759526,2.747197,7.009901
min,8.000000,0.000000,2007.000000,5.000000,1.000000,0.000000,5.500000,0.000000,0.000000,0.000000,0.000000
25%,11.000000,0.000000,2011.000000,6.000000,8.000000,23.700000,15.100000,19.500000,0.000000,1.500000,0.000000
50%,16.000000,0.000000,2016.000000,7.000000,16.000000,26.300000,17.300000,21.800000,0.000000,3.800000,0.000000
75%,28.000000,0.000000,2020.000000,8.000000,23.000000,28.600000,19.400000,23.825000,0.000000,5.825000,0.800000
max,696.000000,1.000000,2024.000000,9.000000,31.000000,38.200000,25.200000,31.600000,8.500000,13.600000,96.800000

In [22]:
df.head()

,CollectionDate,eColi,statusFlag,Date/Time,Year,Month,Day,Max Temp (°C),Min Temp (°C),Mean Temp (°C),Heat Deg Days (°C),Cool Deg Days (°C),Total Precip (mm)
0,2007-06-03,10,0,2007-06-03,2007,6,3,25.1,17.1,21.1,0.0,3.1,9.1
1,2007-06-04,10,0,2007-06-04,2007,6,4,22.7,15.4,19.1,0.0,1.1,2.0
2,2007-06-05,70,0,2007-06-05,2007,6,5,19.3,7.4,13.4,4.6,0.0,1.8
3,2007-06-06,159,1,2007-06-06,2007,6,6,17.3,8.1,12.7,5.3,0.0,0.0
4,2007-06-07,23,1,2007-06-07,2007,6,7,20.3,11.4,15.9,2.1,0.0,0.0

In [23]:
df.drop(columns=['Year', 'Month', 'Day', 'CollectionDate'], inplace=True)

In [24]:
df.head()

,eColi,statusFlag,Date/Time,Max Temp (°C),Min Temp (°C),Mean Temp (°C),Heat Deg Days (°C),Cool Deg Days (°C),Total Precip (mm)
0,10,0,2007-06-03,25.1,17.1,21.1,0.0,3.1,9.1
1,10,0,2007-06-04,22.7,15.4,19.1,0.0,1.1,2.0
2,70,0,2007-06-05,19.3,7.4,13.4,4.6,0.0,1.8
3,159,1,2007-06-06,17.3,8.1,12.7,5.3,0.0,0.0
4,23,1,2007-06-07,20.3,11.4,15.9,2.1,0.0,0.0

In [25]:
df.to_csv('cleaned_data\daily\\cleaned_merged_toronto_city_hanlans.csv')