In [19]:
import pandas as pd
import numpy as np

In [20]:
## need to pad with 0s where toronto city has nans for snow on ground - or do we even need that? We can also consider using
## toronto city centre - I think we can remove the flags too

In [21]:
df = pd.read_csv('cleaned_data\daily\\toronto_city.csv').drop(columns=['Unnamed: 0'])

In [22]:
df.describe()

,Year,Month,Day,Max Temp (°C),Min Temp (°C),Mean Temp (°C),Heat Deg Days (°C),Cool Deg Days (°C),Total Precip (mm),Snow on Grnd (cm)
count,78900.000000,78900.000000,78900.000000,78072.000000,78348.000000,77976.000000,77976.000000,77976.000000,77076.000000,14340.000000
mean,2015.500380,6.522586,15.730646,13.839671,6.159136,10.011173,9.158818,1.169991,2.270668,7.093724
std,5.188551,3.448819,8.800574,10.823543,9.754932,10.203217,8.804910,2.268802,5.798021,7.535813
min,2007.000000,1.000000,1.000000,-19.200000,-25.100000,-22.200000,0.000000,0.000000,0.000000,0.000000
25%,2011.000000,4.000000,8.000000,4.700000,-0.700000,2.000000,0.000000,0.000000,0.000000,1.000000
50%,2016.000000,7.000000,16.000000,14.100000,6.300000,10.200000,7.800000,0.000000,0.000000,4.000000
75%,2020.000000,10.000000,23.000000,23.600000,14.800000,19.200000,16.000000,1.200000,1.400000,11.000000
max,2024.000000,12.000000,31.000000,38.200000,25.200000,31.600000,40.200000,13.600000,96.800000,36.000000

In [23]:
df.columns

Index(['Date/Time', 'Year', 'Month', 'Day', 'Max Temp (°C)', 'Max Temp Flag',
       'Min Temp (°C)', 'Min Temp Flag', 'Mean Temp (°C)', 'Mean Temp Flag',
       'Heat Deg Days (°C)', 'Heat Deg Days Flag', 'Cool Deg Days (°C)',
       'Cool Deg Days Flag', 'Total Precip (mm)', 'Total Precip Flag',
       'Snow on Grnd (cm)'],
      dtype='object')

In [24]:
df.head()

,Date/Time,Year,Month,Day,Max Temp (°C),Max Temp Flag,Min Temp (°C),Min Temp Flag,Mean Temp (°C),Mean Temp Flag,Heat Deg Days (°C),Heat Deg Days Flag,Cool Deg Days (°C),Cool Deg Days Flag,Total Precip (mm),Total Precip Flag,Snow on Grnd (cm)
0,2007-01-01,2007,1,1,10.1,NaN,2.6,NaN,6.4,NaN,11.6,NaN,0.0,NaN,0.0,NaN,NaN
1,2007-01-02,2007,1,2,6.4,NaN,0.7,NaN,3.6,NaN,14.4,NaN,0.0,NaN,0.0,NaN,NaN
2,2007-01-03,2007,1,3,8.1,NaN,2.4,NaN,5.3,NaN,12.7,NaN,0.0,NaN,0.0,NaN,NaN
3,2007-01-04,2007,1,4,10.1,NaN,4.8,NaN,7.5,NaN,10.5,NaN,0.0,NaN,3.2,NaN,NaN
4,2007-01-05,2007,1,5,11.9,NaN,7.7,NaN,9.8,NaN,8.2,NaN,0.0,NaN,6.4,NaN,NaN

In [25]:
df['Snow on Grnd (cm)'] = df['Snow on Grnd (cm)'].fillna(0)

In [26]:
df.describe()

,Year,Month,Day,Max Temp (°C),Min Temp (°C),Mean Temp (°C),Heat Deg Days (°C),Cool Deg Days (°C),Total Precip (mm),Snow on Grnd (cm)
count,78900.000000,78900.000000,78900.000000,78072.000000,78348.000000,77976.000000,77976.000000,77976.000000,77076.000000,78900.000000
mean,2015.500380,6.522586,15.730646,13.839671,6.159136,10.011173,9.158818,1.169991,2.270668,1.289278
std,5.188551,3.448819,8.800574,10.823543,9.754932,10.203217,8.804910,2.268802,5.798021,4.219514
min,2007.000000,1.000000,1.000000,-19.200000,-25.100000,-22.200000,0.000000,0.000000,0.000000,0.000000
25%,2011.000000,4.000000,8.000000,4.700000,-0.700000,2.000000,0.000000,0.000000,0.000000,0.000000
50%,2016.000000,7.000000,16.000000,14.100000,6.300000,10.200000,7.800000,0.000000,0.000000,0.000000
75%,2020.000000,10.000000,23.000000,23.600000,14.800000,19.200000,16.000000,1.200000,1.400000,0.000000
max,2024.000000,12.000000,31.000000,38.200000,25.200000,31.600000,40.200000,13.600000,96.800000,36.000000

In [27]:
df.drop(columns=['Max Temp Flag', 'Min Temp Flag', 'Mean Temp Flag', 'Heat Deg Days Flag', 'Cool Deg Days Flag', 'Total Precip Flag'], inplace=True)

In [28]:
df.head()

,Date/Time,Year,Month,Day,Max Temp (°C),Min Temp (°C),Mean Temp (°C),Heat Deg Days (°C),Cool Deg Days (°C),Total Precip (mm),Snow on Grnd (cm)
0,2007-01-01,2007,1,1,10.1,2.6,6.4,11.6,0.0,0.0,0.0
1,2007-01-02,2007,1,2,6.4,0.7,3.6,14.4,0.0,0.0,0.0
2,2007-01-03,2007,1,3,8.1,2.4,5.3,12.7,0.0,0.0,0.0
3,2007-01-04,2007,1,4,10.1,4.8,7.5,10.5,0.0,3.2,0.0
4,2007-01-05,2007,1,5,11.9,7.7,9.8,8.2,0.0,6.4,0.0

In [29]:
df.describe()

,Year,Month,Day,Max Temp (°C),Min Temp (°C),Mean Temp (°C),Heat Deg Days (°C),Cool Deg Days (°C),Total Precip (mm),Snow on Grnd (cm)
count,78900.000000,78900.000000,78900.000000,78072.000000,78348.000000,77976.000000,77976.000000,77976.000000,77076.000000,78900.000000
mean,2015.500380,6.522586,15.730646,13.839671,6.159136,10.011173,9.158818,1.169991,2.270668,1.289278
std,5.188551,3.448819,8.800574,10.823543,9.754932,10.203217,8.804910,2.268802,5.798021,4.219514
min,2007.000000,1.000000,1.000000,-19.200000,-25.100000,-22.200000,0.000000,0.000000,0.000000,0.000000
25%,2011.000000,4.000000,8.000000,4.700000,-0.700000,2.000000,0.000000,0.000000,0.000000,0.000000
50%,2016.000000,7.000000,16.000000,14.100000,6.300000,10.200000,7.800000,0.000000,0.000000,0.000000
75%,2020.000000,10.000000,23.000000,23.600000,14.800000,19.200000,16.000000,1.200000,1.400000,0.000000
max,2024.000000,12.000000,31.000000,38.200000,25.200000,31.600000,40.200000,13.600000,96.800000,36.000000

In [33]:
mask = (df['Total Precip (mm)'].isna())
df.drop(df.loc[mask].index, inplace=True)

In [34]:
df.describe()

,Year,Month,Day,Max Temp (°C),Min Temp (°C),Mean Temp (°C),Heat Deg Days (°C),Cool Deg Days (°C),Total Precip (mm),Snow on Grnd (cm)
count,77076.000000,77076.000000,77076.000000,77040.000000,77064.000000,77040.000000,77040.000000,77040.000000,77076.000000,77076.000000
mean,2015.500234,6.534330,15.747159,13.864844,6.183043,10.032991,9.140607,1.173598,2.270668,1.305309
std,5.224018,3.448091,8.803544,10.828327,9.767582,10.208046,8.808324,2.272127,5.798021,4.255352
min,2007.000000,1.000000,1.000000,-19.200000,-25.100000,-22.200000,0.000000,0.000000,0.000000,0.000000
25%,2011.000000,4.000000,8.000000,4.700000,-0.700000,2.000000,0.000000,0.000000,0.000000,0.000000
50%,2015.000000,7.000000,16.000000,14.100000,6.400000,10.300000,7.700000,0.000000,0.000000,0.000000
75%,2020.000000,10.000000,23.000000,23.600000,14.800000,19.200000,16.000000,1.200000,1.400000,0.000000
max,2024.000000,12.000000,31.000000,38.200000,25.200000,31.600000,40.200000,13.600000,96.800000,36.000000

In [35]:
df = df.dropna()

In [36]:
df.describe()

,Year,Month,Day,Max Temp (°C),Min Temp (°C),Mean Temp (°C),Heat Deg Days (°C),Cool Deg Days (°C),Total Precip (mm),Snow on Grnd (cm)
count,77040.000000,77040.000000,77040.000000,77040.000000,77040.000000,77040.000000,77040.000000,77040.000000,77040.000000,77040.000000
mean,2015.501558,6.532555,15.750156,13.864844,6.181620,10.032991,9.140607,1.173598,2.269159,1.305763
std,5.224870,3.447542,8.802981,10.828327,9.767813,10.208046,8.808324,2.272127,5.798339,4.256282
min,2007.000000,1.000000,1.000000,-19.200000,-25.100000,-22.200000,0.000000,0.000000,0.000000,0.000000
25%,2011.000000,4.000000,8.000000,4.700000,-0.700000,2.000000,0.000000,0.000000,0.000000,0.000000
50%,2015.000000,7.000000,16.000000,14.100000,6.400000,10.300000,7.700000,0.000000,0.000000,0.000000
75%,2020.000000,10.000000,23.000000,23.600000,14.800000,19.200000,16.000000,1.200000,1.400000,0.000000
max,2024.000000,12.000000,31.000000,38.200000,25.200000,31.600000,40.200000,13.600000,96.800000,36.000000

In [37]:
df.to_csv('cleaned_data\daily\\cleaned_toronto_city.csv')